* {
    margin: 0;
    padding: 0;
    /* font-family: "Indie Flower", cursive; */
    font-family: "Merriweather", serif;
    /* font-family: "Outfit", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Sofia Sans", sans-serif;
    font-family: "Syncopate", sans-serif; */
}

.container {
    max-width: 1900px;
}

.happynewyear-container {
    max-width: 1320px;
    margin: 50px auto;
    height: 600px;
    width: 100%;
    margin-bottom: 120px;
    position: relative;
}

.happynewyear-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happynewyear-title h1{
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
}

.newyearoffer-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    max-width: 1320px;
}

.offertitle{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offertitle p{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ff0000;
    font-family: "Inter", sans-serif;
}

.offertitle h2{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #070211;
    font-style: normal;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

.offertitle h1{
    font-weight: 700;
    line-height: 110px;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    color: #ff0000;
    padding-bottom: 20px;
}

.newyearoffer-container img{
    height: 500px;
    width: 800px;
    margin-top: 50px;
}

.midnightparty-container{
    position: relative;
    margin: auto;
    margin-bottom: 120px;
    max-width: 1320px;
    width: 100%;
}

