* {
    margin: 0;
    padding: 0;
    /* font-family: "Indie Flower", cursive; */
    font-family: "Merriweather", serif;
    /* font-family: "Outfit", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Sofia Sans", sans-serif;
    font-family: "Syncopate", sans-serif; */
}

.container {
    max-width: 1900px;
}

.happynewyear-container {
    max-width: 1320px;
    margin: 50px auto;
    height: 600px;
    width: 100%;
    margin-bottom: 120px;
    position: relative;
}

.happynewyear-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.happynewyear-title h1 {
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
}

.newyearoffer-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    max-width: 1320px;
}

.offertitle {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.offertitle p {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #ff0000;
    font-family: "Inter", sans-serif;
}

.offertitle h2 {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    color: #070211;
    font-style: normal;
    line-height: normal;
    font-family: "Inter", sans-serif;
}

.offertitle h1 {
    font-weight: 700;
    line-height: 110px;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    color: #ff0000;
    padding-bottom: 20px;
}

.newyearoffer-container img {
    height: 500px;
    width: 800px;
    margin-top: 50px;
}

.party-container {
    position: relative;
    margin: auto;
    margin-bottom: 120px;
    max-width: 1320px;
    width: 100%;
}

.partytitle {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
}

.partyleft {
    width: 55%;
}

.partyleft h1 {
    color: #fff;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.partyleft p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    font-family: "Inter", sans-serif;
}

.partyleft button {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 30px;
    font-family: "Inter", sans-serif;
}

.placedate-container {
    max-width: 1320px;
    width: 100%;
    height: 482px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
}

.placedate {
    text-align: center;
}

.placedate p {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    line-height: 56px;
    font-family: "Inter", sans-serif;
}

.placedate p span {
    color: #ff0000;
    font-family: "Inter", sans-serif;
}

.placedate button {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #f00;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: Normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    outline: none;
    margin-top: 48px;

}

.offer-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    gap: 60px;
    margin: auto;
    margin-bottom: 120px;
    max-width: 1320px;
    width: 100%;
}

.offerleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 33%;
}

.offerleft h1 {
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    font-family: "Merriweather", serif;
    color: #070211;
    line-height: normal;
}

.offerleft p span {
    color: #f00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.offerleft p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
}

.offer-center {
    width: 34%;
}

.offerright {
    display: flex;
    flex-direction: column;
    width: 33%;
    gap: 20px;
}

.offerright img {
    height: 140px;
    width: 140px;
}

.offerright h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #f00;
}

.offerright p {
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.circle {
    border-radius: 463px;
    border: 15px solid #f00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.circle img {
    width: 100%;
}

.gift-container {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.gift {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gift-container o span {
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    font-size: 24px;
    font-family: "Inter", sans-serif;
}

.gift-container h1 {
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.gift-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 900px;
}

.news-container {
    max-width: 920px;
    width: 100%;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
}

.news-container img {
    height: 150px;
    width: 150px;
}

.news-container h1 {
    color: #070211;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.news-container p {
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.input {
    background: white;
    border: 2px solid red;
    /* padding: 25px 30px; */
    width: 648px;
    height: 72px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input input {
    outline: none;
    border: none;
    margin: 25px 30px;
}

.input button {
    border-radius: 0px 50px 50px 0px;
    background: #f00;
    width: 210px;
    height: 72px;
    flex-shrink: 0;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}